@-ms-viewport {
    width: device-width;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: scrollbar;
  }
  body, h1, h2, h3, h4, h5 {font-family: Heebo !important;}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .logo-link {    display: block;
    line-height: 1;}

  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  




  /* LANDING PAGE SPECIFIC CSS */
  
/* TYPOGRPAHY & ESSENTIAL ELEMENTS */
html {margin-top:0px !important;    padding-top: 0px !important;}
body {margin:0px;font-family:Heebo;color:#050b1a;font-size:18px;line-height:1.3;}
.container-fluid {padding:0;}
.row {
    
    width: 100%;
    margin: 0;}
/*HEADER STYLES*/
#plain-header {
    background: rgb(0, 0, 0);
    z-index: 9999;
    width: 100%;
    display: block;
    padding: 10px 40px;
        /*only for flat fee team az*/
}

.header-logo {
    margin: 0px;
    display: inline-block;
    width: 159px;
    padding-top: 2px;

}
.header-logo-2 {
    margin: 0px;
    display: inline-block;
    width: 100px;
    margin-bottom: -3px;
    }

.header-phone-number {
    display: inline-block;
    text-align: right;
}
a#header-phone-number-text {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    transition: all .3s;
    font-weight:400;
    padding-top: 15px;
}
#header-phone-number-text span {color: #fff;font-weight:800;}

/*FULL WIDTH BANNER & TEXT OVERLAY*/
.full-width-banner-container {
    background-size: cover;
    width: 100%;
}
.full-width-banner-row {
    padding: 80px 0px 80px 0px;
    text-align: center;
    width: 90%;
    max-width: 1156px;
    margin: auto;
}
.full-width-banner-box {
    /* width: 1400px; */
    /* margin: auto; */
    padding: 36px 10px;
    background-color:rgba(255, 2555, 255, .87);
}
.full-width-banner-heading {
  font-family: heebo;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* margin: 0 auto; */
    font-weight: 800;
    font-size: 50px;
    /* width: 100%; */
    line-height: 1.2;
    /* color: #fff; */
    text-transform: uppercase;
}
.full-width-banner-subheading-box {
    margin-top: 9px;
}
p.full-width-banner-subheading-text {
    /* color: #fff; */
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
    margin-top: 0;
    width: 950px;
    margin: auto;
    margin-bottom: 20px;
}
.full-width-banner-subheading-text-2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 1.2;
    margin-top: 0px;
    width: 950px;
    margin: auto;
    /* margin-bottom: 20px; */
    clear: both;
    color: #eb212e;
}

@media (max-width:1200px){
    p.full-width-banner-subheading-text, p.full-width-banner-subheading-text-2 {
        width: 90%;}
    }
    @media only screen and (max-width: 1015px){
       .pageid-187 #wprmenu_bar, .pageid-187 #wprmenu_menu, .pageid-187 #wprmenu_menu ul {
            display: none!important;
        }
    }

@media (max-width:767px){
    .full-width-banner-heading {font-size: 45px;}
    p.full-width-banner-subheading-text { font-size: 27px;}
    .full-width-banner-subheading-text-2 { font-size: 29px; }
    a#header-phone-number-text {font-size: 29px;}
    #header-phone-number-text span {
        display: block;
    }
}
@media (max-width:576px){
#plain-header .col-sm-12 {text-align: center;}
.header-phone-number {text-align: center;}
.header-logo {display: block; margin: auto; width: 50%;}
.header-logo-2 {display: block; margin: auto; width: 47%;}
/* a#header-phone-number-text {font-size: 22px;} */
#header-phone-number-text span { display: block;}
a#header-phone-number-text {font-size: 18px;}
/* #header-phone-number-text span {display: inline;} */
.full-width-banner-row {
    padding: 40px 0px 40px 0px;
}
}
@media (max-width:499px){
   .full-width-banner-heading{font-size: 33px;}
    }
/* SERVICE COLUMN WITH PICTURE ABOVE THE COLUMN*/
.row.services {  padding: 40px 0px;}
.service-column {text-align:center; margin-bottom: 20px; padding: 0px 7px;}
.service-column .icon {
    color: #a0a0a0;
    text-align: center; 
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #a0a0a0;
    margin-bottom: 20px;
}
.service-column h3 {
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 1.2em;
    margin-bottom: .875rem;
    margin-top: .875rem;
}
.service-column p {
    line-height: 1.5em;
    margin-bottom: .875rem;
    font-size: 1.05rem;
    font-weight: 300;
    color: #050b1a;
}
/*------------TESTIMONIALS----------*/
.row.testimonials {
    /* padding: 40px; */
    padding-bottom: 55px;
}
.testimonials h2 {
    color: #050b1a;
    font-weight: 800;
    text-align: center;
    font-size: 41px;
    margin: 67px 0 5px;
}
.col-md-6.testimonial-column {
    padding: 0 46px;
}
p.testimonial-column-text {
    font-weight: 300;
    font-size: 21px;
    font-style: italic;
    margin-top: 0px;
}
.testimonial-column-text span {
    font-weight: 900;
    font-size:19px;
}
.testimonial-person {
    text-align: right;
    display: flex;
    align-items: center;
    padding-right: 10%;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.testimonial-person img {
    display: inline-block;
    max-width: 52px;
    height: 52px;
    /* padding-top: 12px; */
}
.testimonial-person p {
    display: inline-block;
    vertical-align: baseline;
    margin: 0px;
    /* padding-bottom: 22px; */
    padding-left: 15px;
    font-weight: 600;
}
@media (min-width: 992px) {
    .col-md-6.testimonial-column {
    padding: 25px;
    }
}
@media (max-width:768px){
    .testimonial-column {
    margin-bottom: 41px;
    }
}
@media (max-width:499px) {
    .testimonials h2 {
    font-size: 31px;
    }
    p.testimonial-column-text {
    font-size: 18px;
    }
}
/*----------CTA ROW ---------------*/
#cta-row-1 {

    padding: 68px 0 107px;
}
#cta-row-1 .col-12 {text-align: center;}
.cta-btn-1 {
    color: #fff;
    background-color: #eb212e;
    transition: .3s;
    display: inline-block;
    text-align: center;
    font-size: 43px;
    padding: 13px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: #eb212e solid 3px;
}
.cta-btn-1:hover {
    color: #eb212e;
    border: #eb212e solid 3px;
    background-color: #fff;
    text-decoration:none;
}
@media (max-width: 1200px) {
  .cta-btn-1 b {
        display: block;
        font-weight:800;
    }
}
@media (max-width: 600px) {
    .cta-btn-1 {    font-size: 34px;}

}
@media (max-width: 435px) {
    .cta-btn-1 {    font-size: 25px;}

}

/*-----------CONTENT AREA 1-------------*/
.ca1-bg {
    background-size: cover;
    background-repeat: no-repeat;
}
.content-area-1 .ca1-bg-2 {
    background-color: #464646;
    padding: 48px 37px 32px;
}
.ca1-text {color:#fff;    font-size:21px;width:550px;    margin-bottom: 45px;}

.ca1-text h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 19px;
    margin-top:0px;
}
.check-list {color:#fff;}
.check-list ul {margin:0px;}
.check-list li {
  list-style: none;
  margin:0px;
  padding-left:37px;
  display: block;
  position:relative;
  margin-bottom: 25px;
}
.check-list li:before {
  content:url('/wp-content/themes/twentytwenty/landing-page-folder/img/checkmark.svg');
  width:27px;
  height:27px;
  position:absolute;
  top:0;
  left:0;
  color:#fff !important;

}
button, .button {
  background-color: #eb212e;
  text-decoration: none;
  color: #fff;
  padding: 16px 16px;
  transition: all .3s;
  border-radius: 3px;
  font-size: 30px;
  line-height: 1.1;
  border: none;
  font-weight: bold;
}
button:hover,  button:focus, .button:hover, .button:focus{
  color:#eb212e;
  background-color:#fff;
  text-decoration:none;
}

.ca1-text .check-list li span {
    font-weight: 300;
    font-style: italic;
}
@media (max-width:1200px){
    .ca1-text {width:100%;}
}
@media (max-width:767px) {
    .ca1-bg {    height: 381px;}
}
@media (max-width:499px) {
    .ca1-text {
    color: #fff;
    font-size: 18px;
    }
}
/*-----------CONTENT AREA 2-------------*/
.content-area-2 {text-align: center;padding:80px 0; font-size: 23px;}
.content-area-2 h2 { font-weight: 900;font-size:31px;margin:auto;    margin-bottom: 1em;}
.content-area-2 p {
    font-weight: 800;
    margin-bottom: 1em;
}
@media (max-width:499px) {
    .content-area-2 {
    text-align: center;
    padding: 80px 0;
    font-size: 18px;
    }
}
/*-----------CONTENT AREA 3 & PANEL WITH OVERLAY------------*/
.ca3-col {
    margin-bottom:40px;
}
.panel-with-overlay{
    /* width: 100%; */
    height: 251px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.4);
}
.panel-overlay {
    background-color: rgba(235,33,46,.87);
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 17px;
    left: 0;
        border-radius: 2px;
}
.panel-overlay-text{
    width: 100%;
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    font-style: italic;
    position: relative;
    display: block;
    margin: 0px;
    text-align: center;
    line-height: 1;
}
/*-----------FOOTER------------*/

#footer {
    color: #fff;
    font-weight: 300;
    font-size: 23px;
        padding: 40px 0;
}
#footer .footer-logo {
    width: 100%;
        margin: auto;
}
#footer a:hover {
    color: #eb212e;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer .contact a {
    font-weight: 400;
}
#footer .contact {
    margin: 10px 0;
}
#footer .email {
  margin: 15px 0;
}
#copyright {background-color:#adadad;}
@media (max-width: 992px){
  .container { max-width: 100%;}
}
@media (max-width: 499px){
  #footer .footer-logo {
    width: 290px;
    max-width:100%;
    margin: auto;
  }
  #footer .footer-logo img {
    width:100%;
  }
}

/*---------HOME VALUE--------*/

.home-value {
    background: #fff;
    width: 608px;
    padding: 0px;
    box-shadow: 0 7px 16px 2px rgba(0,0,0,.4);
    margin: 25px 0 26px;
    display: flex;
    clear: block;
    float: none;
    display: inline-table;
    height: 55px;
    justify-content: center;
    margin: 13px auto 5px auto;
}
.home-value p { padding: 10px;}
.home-value input[type=text], .home-value input[type=email] {
    width: 71%;
    
    height: 55px;
    border-radius: 2px 0 0 2px;
    padding: 5px 15px 0px;
    margin: 0;
    border: 0;
    box-shadow: 0 0px 2px rgba(0,0,0,.3) inset;
    background: #f6f6f6;
    font-size: 24px;
    font-family: Heebo;
}
.home-value input[type=submit] {
    
    width: 29%;
    border-radius: 0 2px 2px 0;
    height: 55px;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 24px;
    background-color: #eb212e;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    color: #fff;
    font-family: Heebo;
    padding-top: 5px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
}
@media (max-width:768px) {
    .home-value {
    background: #fff;
    width: 100%;}
    .home-value input[type=submit] {font-size:15px;}
}
/*LIGHT BOX FORM*/
.popmake-225 {
    background-color: #eb212e;
    text-decoration: none;
    color: #ffffff;
    padding: 9px 16px;
    transition: all .3s;
    border-radius: 3px;
    font-size: 30px;
    line-height: 1.3;
}
.popmake-225:hover {
    background-color: #fff;
    color:#eb212e;
}
div#pum-225 {
    background-color: rgba(0,0,0,.3);
    transition: .3s;
}
#lightbox-form.lightbox-noshow {
    display: none;
}
#lightbox-form {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: block;
    z-index: 19999;
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    color: #FFF;
    padding: 10% 10px 10px 10px;
    overflow-x: scroll;
}
div#lightbox-form-container {
    background-color: #fff;
    width: 600px;
    display: block;
    margin: auto;
    padding: 20px;
    color: #000;
}
#lightbox-form span.fa.fa-close {
    position: relative;
    right: 0;
    font-size: 25px;
    cursor: pointer;
    border-radius: 53%;
    background: #737375;
    padding: 2px 6px 4px 6px;
    color: #fff;
}
#input_8_1_3_container label {
    display: none;
}
#gform_fields_8  label.gfield_label {
    font-weight: 800;
    font-family: Heebo;
}
#gform_fields_8 input[type="text"], input[type="password"], input[type="email"], textarea, select{
    width:100%;
    font-family:Heebo;
}
#lightbox-form-container .gform_footer.top_label {
    text-align: center;
}
#lightbox-form-container input[type="submit"] {
    font-family:Heebo;
    background-color: #eb212e;
    text-decoration: none;
    color: #ffffff;
    padding: 9px 16px;
    transition: all .3s;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 500;
    border-radius:3px;
    border:solid 3px #eb212e;
        -webkit-appearance:none;

}
#lightbox-form-container input[type="submit"]:hover {
    color:#eb212e;
    background-color:#fff;
        -webkit-appearance:none;
}
textarea#input_8_4 {
    height: 131px;
}
@media (max-width:670px) {
    div#lightbox-form-container{width:100%;}
    .home-value .address_found input[type=text], .home-value .address_found input[type=email], .home-value .user_info_form input[type=text], .home-value .user_info_form input[type=email] {
        width: 100%;
        border: .5px solid #fff;
        margin-bottom: 5px;
    }
}
@media (max-width:499px) {
    .popmake-225 {font-size: 22px;}
}
@media (max-width:390px) {
    .popmake-225 {font-size: 19px;    padding: 9px 9px;}
}